@import "@/assets/styles/utilities";

.tours {
    background-color: $gray-2;
    padding-top: rem(24);
    padding-bottom: rem(40);

    &__wrapper {
        display: flex;
        gap: rem(32);
    }

    .filterBtn {
        display: none;
    }

    @media screen and (max-width: 700px) {
        .filterBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(40);
            height: rem(40);
            border-radius: 50%;
            border: rem(1) solid $border-color;
            background-color: $white;
            margin-bottom: rem(24);
        }
    }
}