html {
    font-size: calc(10 * 100vw/375);

    @media screen and (min-width: 700px) {
        font-size: calc(10 * 100vw/1440);
    }
}

body {
    position: relative;
    height: 100%;
    color: $black;
    background-color: $white;
    font-family: $font-family-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-title;
}

input,
textarea {
    font-family: $font-family-main;
}

.page-title {
    font-size: rem(32);
    line-height: rem(40);
    font-weight: 700;
    color: $black-2;
    letter-spacing: rem(-0.7);

    @media screen and (max-width: 700px) {
        font-size: rem(24);
        line-height: rem(32);
        letter-spacing: initial;
    }
}

.section-title {
    font-size: rem(32);
    line-height: rem(40);
    font-weight: 700;
    color: $black-2;
    letter-spacing: rem(-0.7);

    @media screen and (max-width: 700px) {
        font-size: rem(20);
        line-height: rem(24);
        margin-bottom: rem(2);
        letter-spacing: initial;
    }
}

.section-text {
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(24);
    color: $gray;
    margin-bottom: rem(24);

    @media screen and (max-width: 700px) {
        font-size: rem(14);
        line-height: rem(24);
    }
}

.g-input {
    border: rem(2) solid $border-color;
    border-radius: rem(24);
    height: rem(48);
    padding: rem(14) rem(16);
    font-size: rem(14);
    line-height: rem(24);
    color: $black-2;
    background: $white;
    width: 100%;
}

.g-textarea {
    border: rem(2) solid $border-color;
    border-radius: rem(24);
    padding: rem(14) rem(16);
    height: rem(160) !important;
    font-size: rem(14);
    line-height: rem(24);
    color: $black;
    background: $white;
    width: 100% !important;
}

.g-phone-input {
    display: flex;
    border: rem(2) solid $border-color;
    border-radius: rem(24);
    position: relative;

    &::after {
        content: "";
        height: rem(24);
        width: rem(1);
        background: $border-color;
        left: rem(102);
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }

    .g-input {
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.rich-content {
    font-size: rem(16);
    line-height: rem(24);
    font-family: $font-family-main;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: rem(18);
    }

    p,
    span {
        font-size: rem(16);
        line-height: rem(24);
        color: $black;
        font-family: $font-family-main;
    }

    strong {
        a {
            color: $black;
        }
    }

    a {
        color: $blue;
    }

    ul {
        font-size: rem(16);
        line-height: rem(24);
        padding-left: rem(16);

        li {
            list-style: initial;
        }
    }

    ol {
        font-size: rem(16);
        line-height: rem(24);
        padding-left: rem(16);

        li {
            list-style: decimal;
        }
    }

    img {
        max-width: 100% !important;
    }

    @media screen and (max-width: 700px) {
        font-size: rem(14);
        line-height: rem(24);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: rem(16);
        }

        p,
        span {
            font-size: rem(14);
            line-height: rem(20);
        }

        ul {
            font-size: rem(14);
            line-height: rem(20);
        }

        ol {
            font-size: rem(14);
            line-height: rem(20);
        }

        img {
            width: 100% !important;
        }
    }
}

.search__tab__slider {
    .swiper {
        &-wrapper {
            justify-content: center;
        }

        &-slide {
            width: auto !important;
            margin-right: rem(32) !important;
        }
    }

    @media screen and (max-width: 700px) {
        .swiper {
            &-wrapper {
                justify-content: flex-start;
            }

            &-slide {
                margin-right: rem(24) !important;
            }
        }
    }
}

.destination__slider {
    position: relative;

    .swiper-slide {
        width: rem(302);
        margin-right: rem(24);
    }

    @media screen and (max-width: 700px) {
        margin-right: rem(-20);

        .swiper-slide {
            width: rem(272) !important;
            margin-right: rem(16) !important;
        }
    }
}

.dailyTours__slider {
    position: relative;

    .swiper-slide {
        width: rem(308);
        margin-right: rem(16);
    }

    @media screen and (max-width: 700px) {
        margin-right: rem(-20);
    }
}

.azerbaijanTour__slider {
    position: relative;

    .swiper-slide {
        width: rem(308);
        margin-right: rem(16);
    }

    @media screen and (max-width: 700px) {
        display: none;
    }
}

.review__slider {
    position: relative;

    .swiper-slide {
        width: rem(416);
        margin-right: rem(16);
    }

    .custom-arrow {
        top: rem(120);
    }

    @media screen and (max-width: 700px) {
        margin-right: rem(-20);

        .swiper-slide {
            width: rem(312) !important;
        }
    }
}

.news__slider {
    position: relative;

    .swiper-slide {
        width: rem(308);
        margin-right: rem(16);
    }

    .custom-arrow {
        top: rem(180);
    }

    @media screen and (max-width: 700px) {
        margin-right: rem(-20);
    }
}

.hotelList__slider {
    position: relative;

    .swiper-slide {
        width: rem(308);
        margin-right: rem(16);
    }

    @media screen and (max-width: 700px) {
        display: none;
    }
}

.tour__btn__slider.swiper {
    margin-bottom: rem(40);

    .swiper-slide {
        width: auto !important;
        margin-right: rem(8) !important;
    }

    @media screen and (max-width: 700px) {
        margin-right: rem(-20) !important;
        margin-bottom: rem(32);
    }
}

.custom-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777E91;
    position: absolute;
    top: rem(164);
    transform: translateY(-50%);
    z-index: 1;
    width: rem(40);
    height: rem(40);
    border: rem(2) solid $border-color;
    border-radius: 50%;
    background: $white;

    svg {
        width: rem(14);
        height: rem(9);
    }

    &-prev {
        left: rem(-20);
    }

    &-next {
        right: rem(-20);
    }

    @media screen and (max-width: 700px) {
        display: none;
    }
}

.swiper {
    margin-left: rem(-5) !important;
    margin-right: rem(-5) !important;
    padding-left: rem(5) !important;
    padding-right: rem(5) !important;

    &-button-disabled {
        cursor: initial;

        svg {
            opacity: 0.5;
        }
    }

    &-slide {
        height: initial !important;
    }

    &-pagination {
        bottom: 0 !important;

        &-bullet {
            background-color: $border-color !important;
            opacity: 1 !important;

            &-active {
                background-color: $gray !important;
            }
        }
    }

    @media screen and (max-width: 700px) {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.react-responsive-modal {
    &-modal {
        margin: rem(15) 0 !important;
        max-width: initial !important;
        width: initial !important;
        box-shadow: 0px 64px 64px -48px #0F0F0F14 !important;
        border-radius: rem(16) !important;
        padding: rem(32) rem(56) !important;
        overflow-y: initial !important;
        background-color: $white !important;
    }

    &-container {
        padding: rem(16);
        padding-top: rem(50);
    }

    &-closeButton {
        top: rem(-12) !important;
        right: rem(-12) !important;
        box-shadow: 0px 8px 16px -8px #0F0F0F1A !important;
        width: rem(32) !important;
        height: rem(32) !important;
        border-radius: 50% !important;
        background: $white !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;

        svg {
            width: rem(20) !important;
            height: rem(20) !important;
            fill: $gray !important;
        }
    }

    @media screen and (max-width: 700px) {
        &-modal {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;
            width: 100% !important;
            box-shadow: none !important;
        }

        &-closeButton {
            top: rem(-49) !important;
            right: inherit !important;
            left: 0 !important;
        }

        &-container {
            background: $white !important;
            padding-top: rem(64);
        }
    }
}

.comment__rating__item {
    display: flex;
    align-items: center;
    gap: rem(12);

    &__bar {
        width: rem(229);
        height: rem(8);
        background-color: $border-color;
        border-radius: rem(4);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
            border-radius: rem(4);
            background-color: #FFD166;
        }
    }
}

.Toastify {
    &__toast {
        &-body {
            font-family: $font-family-main !important;
            font-size: rem(14) !important;
            padding: rem(10) !important;
        }
    }
}