@import "@/assets/styles/utilities";

.checkbox {
    font-size: 14px;
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--333-to-FF);
  
    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  
      /* Show the checkmark when checked */
      &:checked~.Checkmark {
        background-color: $blue;
        border-color: $blue;
  
        &:after {
          border-color: white;
        }
      }
    }
  
    /* Create a custom checkbox */
    .Checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      height: 13px;
      width: 13px;
      border: 2px solid $border-color;
      border-radius: 4px;
      transform: translateY(-50%);
  
      /* Create the checkmark/indicator (hidden when not checked) */
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 4px;
        height: 7px;
        border-color: $blue;
        border-width: 0 2px 2px 0;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }