@import "@/assets/styles/utilities";

.page {
    margin-top: rem(24);
    margin-bottom: rem(48);

    &__content {
        font-size: rem(16);
        line-height: rem(24);
    }

    @media screen and (max-width: 700px) {
        margin-top: 0;
        margin-bottom: rem(24);
    }
}