@import "@/assets/styles/utilities";

.tour {
    margin-top: rem(8);

    &__title {
        font-size: rem(32);
        line-height: rem(40);
        font-weight: 700;
        margin-bottom: rem(8);
    }

    &__heading {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(20);
        margin-bottom: rem(24);

        &__item {
            display: flex;
            align-items: center;
            gap: rem(8);

            img {
                width: rem(19);
                height: rem(19);
            }

            &__text {
                font-size: rem(14);
                line-height: rem(24);
            }
        }

        &__rating {
            display: flex;
            align-items: center;
            gap: rem(8);

            &__value {
                font-size: rem(14);
                line-height: rem(24);
                font-weight: 500;
            }

            &__text {
                font-size: rem(14);
                line-height: rem(24);
            }

            img {
                width: rem(20);
                height: rem(19);
            }
        }
    }

    &__images {
        display: flex;
        align-items: center;
        gap: rem(8);

        &__item {
            width: rem(752);
            height: rem(400);
            flex-shrink: 0;
            position: relative;
            border-radius: rem(16);
        }

        &__left {
            width: rem(752);
            height: rem(400);
            flex-shrink: 0;
            position: relative;
            border-radius: rem(16);

            img {
                object-fit: cover;
                border-radius: rem(16);
                cursor: pointer;
            }
        }

        &__right {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            gap: rem(8);

            &__item {
                width: calc(50% - rem(4));
                height: rem(196);
                position: relative;
                border-radius: rem(16);

                img {
                    object-fit: cover;
                    border-radius: rem(16);
                    cursor: pointer;
                }
            }
        }

        &__slider {
            display: none;
            padding-bottom: rem(30);

            &__item {
                position: relative;
                height: rem(260);

                img {
                    object-fit: cover;
                    cursor: pointer
                }
            }
        }
    }

    .zoom {
        box-shadow: 0px 8px 16px -8px #0F0F0F1A;
        width: rem(48);
        height: rem(48);
        border-radius: 50%;
        background: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: rem(16);
            height: rem(16);
        }
    }

    &__wrapper {
        display: flex;
        gap: rem(32);
        margin-top: rem(40);
    }

    &__content {
        width: rem(843);

        &__heading {
            display: flex;
            align-items: center;
            gap: rem(16);
            padding-top: rem(14);
            margin-top: rem(16);
            border-top: rem(1) solid $border-color;

            &__item {
                display: flex;
                align-items: center;
                gap: rem(8);

                img {
                    width: rem(20);
                    height: rem(20);
                }

                span {
                    font-size: rem(14);
                    line-height: rem(24);
                    font-weight: 600;
                }
            }
        }
    }

    &__cancel {
        display: flex;
        align-items: center;
        gap: rem(8);
        margin-top: rem(20);

        img {
            width: rem(16);
            height: rem(16);
        }

        span {
            font-size: rem(14);
            line-height: rem(16);
            font-weight: 700;
            color: $green;
            font-family: $font-family-secondary;
        }
    }

    &__description {
        margin-top: rem(20);
        font-size: rem(16);
        line-height: rem(24);
    }

    &__includes {
        display: flex;
        gap: rem(48);
        justify-content: space-between;
        margin-top: rem(48);
        margin-bottom: rem(48);
    }

    &__include {
        &__title {
            font-size: rem(24);
            line-height: rem(32);
            font-weight: 700;
            margin-bottom: rem(32);
            color: $black-2;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: rem(24);
        }

        &__item {
            display: flex;
            gap: rem(16);

            img {
                width: rem(24);
                height: rem(24);
            }

            &__content {
                display: flex;
                flex-direction: column;
                gap: rem(4);
            }

            &__title {
                font-size: rem(16);
                line-height: rem(24);
                font-weight: 500;
            }

            &__desc {
                font-size: rem(12);
                line-height: rem(20);
            }
        }
    }

    .card {
        flex-grow: 1;
        height: fit-content;
        position: sticky;
        top: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 8;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        transition-delay: 0.3s;

        &.show {
            opacity: 1;
            pointer-events: all;
        }
    }

    .bottomBar {
        position: fixed;
        bottom: -100%;
        left: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        background: $white;
        align-items: flex-end;
        border-top-left-radius: rem(24);
        border-top-right-radius: rem(24);
        transition: 0.3s ease-in-out;
        transition-delay: 0.2s;
        display: none;

        &.show {
            bottom: 0;
        }
    }

    .moreTour {
        margin-top: rem(48);
        padding-bottom: rem(64);
        padding-top: rem(48);
        background: $gray-2;

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: rem(16);
        }
    }

    @media screen and (max-width: 700px) {
        margin-top: rem(12);

        .bottomBar {
            display: flex;
        }

        .card {
            display: none;
        }

        .moreTour {
            margin-top: rem(32);
            padding-bottom: rem(48);
            padding-top: rem(32);
            background: $gray-2;

            &__list {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &__wrapper {
            flex-direction: column;
        }

        &__content {
            width: 100%;
        }

        &__card {
            display: none;
        }

        &__title {
            font-size: rem(24);
            line-height: rem(32);
        }

        &__heading {
            gap: rem(8) rem(12);
        }

        &__images {
            display: none;
        }

        &__images__slider {
            display: block;
            margin-left: rem(-20) !important;
            margin-right: rem(-20) !important;
        }

        &__description {
            font-size: rem(14);
            line-height: rem(24);
        }

        &__includes {
            flex-direction: column;
            margin-top: rem(32);
        }

        &__include {
            &__title {
                font-size: rem(18);
                line-height: rem(20);
            }

            &__list {
                gap: rem(20);
            }
        }
    }
}