@import "@/assets/styles/utilities";

.breadcrumb {
    display: flex;
    align-items: center;
    gap: rem(9);
    margin-top: rem(16);
    margin-bottom: rem(12);
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: rem(4);
    
    &::-webkit-scrollbar-track {
        background: $border-color;
        border-radius: rem(4);
    }

    &::-webkit-scrollbar {
        height: rem(3);
        border-radius: rem(4);
    }

    &::-webkit-scrollbar-thumb {
        background: $gray;
        border-radius: rem(4);
    }

    &__item {
        &:last-of-type {
            .breadcrumb__link {
                color: $deactive-color;
                cursor: initial;
                pointer-events: none;

                svg {
                    display: none;
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(9);
        font-size: rem(14);
        line-height: rem(16);
        font-weight: 700;
        font-family: $font-family-secondary;
        color: $gray;
        white-space: nowrap;
        
        &:hover{
            color: $black;
        }
    }
}