// Font variables
$font-family-main: "Poppins", sans-serif;
$font-family-secondary: "DM Sans", sans-serif;
$font-family-title: "Avenir Next", sans-serif;

// Color variables
$white: #FCFCFD;
$black: #353945;
$black-2: #23262F;
$black-3: #141416;
$gray: #777E90;
$gray-2: #F4F5F6;
$red: #E63561;
$dark-red: #ca1945;
$border-color: #E6E8EC;
$deactive-color: #B1B5C3;
$green: #58C27D;
$blue: #3B71FE;