@import "@/assets/styles/utilities";

.container {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: rem(8);
    z-index: 1;
    
    &.show {
        background: $border-color;
    }
}

.hidden {
    visibility: hidden;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &.small {
        span {
            height: rem(15) !important;
            width: rem(15) !important;
        }
    }

    &.middle {
        span {
            height: rem(25) !important;
            width: rem(25) !important;
        }
    }

    span {
        height: rem(55) !important;
        width: rem(55) !important;
        margin: 0 !important;
    }

    @media (max-width: 700px) {
        &.small {
            span {
                height: rem(13) !important;
                width: rem(13) !important;
            }
        }
    }
}