@import "@/assets/styles/utilities";

.news {
    margin-bottom: rem(32);

    &__list {
        margin-top: rem(32);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(16);
    }

    @media screen and (max-width: 700px) {
        margin-bottom: rem(24);

        &__list {
            margin-top: rem(24);
            grid-template-columns: repeat(1, 1fr);
        }
    }
}