@import "@/assets/styles/utilities";

.accordion {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: rem(32);

    &__item {
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid $border-color;

        &:first-of-type {
            .accordion__btn {
                padding-top: 0;
            }
        }
    }

    &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
        padding: rem(16) 0;

        &.active {
            .accordion__icon {
                transform: rotate(90deg);
            }
        }

        &__text {
            font-size: rem(16);
            font-weight: 500;
            line-height: rem(24);
            text-align: start;
            color: $black-2;
        }
    }

    &__icon {
        transition: .3s;
        display: flex;
        padding: 0 rem(2);
        transform: rotate(45deg);

        img {
            width: rem(12);
            height: rem(12);
        }
    }

    &__container {
        padding-right: rem(44);
        transition: height .3s;
    }

    &__content {
        font-size: rem(14);
        line-height: rem(24);
        color: $black-2;
        padding-bottom: rem(16);
    }

    @media screen and (max-width: 700px) {
        padding-top: rem(30);

        &__container {
            padding-right: 0;
        }
    }
}